*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 400px ;
}
p, span, a{
    font-size: 14px;
}
:root{
    --bg-header:#0D0F16;
    --bg-body: #141824;
    --bg-nav-bar:#010001;
    --bg-footer:#282729;
    --color-gray:#99989A;
    --color-gray-ligth:#F4F0F7;
    --color-evidenced:#B8EC2F;
    --gap-down:36px
}
/**inizo header */
.header{
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: var(--bg-header);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cta-upgrade{
    color: var(--color-gray);
    border: 1px solid var(--color-gray);
    padding: 10px 35px;
    margin-right: 25px;
    border-radius: 25px;
    text-transform:uppercase;
}
.cta-upgrade a{
    text-decoration: none;
    color: var(--color-gray);
}
.cta-upgrade:hover{
    color: var(--color-gray-ligth);
    border: 1px solid var(--color-gray-ligth);
}
/**fine header */



/**inizo navbar */
.navbar{
    width: 150px;
    position: fixed;
    background-color: var(--bg-nav-bar);
    height: calc(100% - 70px);
    z-index: 1;
    color: var(--color-gray);
}
.navbar *{
    margin: 8px 5%;
}
.navbar-up
.navbar img{
    width: 70%;
    height: auto;
    margin: 0px 8%;
}
.navbar i{
    background-color: var(--color-gray);
    color: var(--bg-nav-bar);
}
.icon{
   line-height: 50px;
   margin: 0;
}
.icon:hover{
    color: var(--color-gray-ligth);
}
.icon span{
    vertical-align: super;
    margin: 20px 0;
}
.voice-navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.voice-navbar img{
    margin: 10px 17px 10px 0px;
    width: 25px;
    height: auto;
}
.voice-navbar h3{
    margin: 20px 0;
}
#icon-plus{
    margin: auto 5px auto 0;    
    padding: 0 4px;
}
.navbar-up{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    scrollbar-width: none;
}
.search, .libreria{
    margin: 0;
}
element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.navbar-up p{
    margin: 10px 0 10px 0 ;
}
.navbar-up a{
    color: var(--color-gray);
    text-decoration: none;
}
.navbar-up a:hover{
    color: var(--color-gray-ligth);
}
.navbar .voice-navbar a{
    line-height: 30px;
}
.voice-light{
    color: var(--color-gray-ligth);
}
.navbar h4{
    color: var(--color-gray-ligth);
}
.navbar hr{
    margin: 5px 0;
}
.navbar .logo{
    height: 35px;
    width: auto;
    background-repeat: no-repeat;
    background-image: url(./../img/logo.svg);
}
.navbar .home{
    min-height: 35px;
    min-width: 35px;
    background-repeat: no-repeat;
    background-image: url(./../img/home.svg);
    float: left;
}
.navbar .search{
    min-height: 35px;
    min-width: 35px;
    background-repeat: no-repeat;
    background-image: url(./../img/search.svg);
    float: left;
}
.navbar .libreria{
    min-height: 35px;
    min-width: 35px;
    background-repeat: no-repeat;
    background-image: url(./../img/libreria.svg);
    float: left;
}
.navbar-down img{
    width: 25px;
    height: auto;
    margin-left: 0px;
}
.logo-small{
    position: relative;
    height: 30px;
    width: 30px;
    background-image: url(./../img/logo-small.svg);
    display: none;
    
}
.voice-navbar-down{
    height: 35px;
    width: 35px;
    margin-bottom: 0px;
    display: flex;
}
.navbar-down-left{
    display: flex;
    align-items: center;
    margin: 0 auto
}
.navbar-down-left .a-hide *{
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    color: var(--color-gray);
}
#lg-gray{
    color: var(--color-gray-ligth);
}
hr{
    margin: 0;
}
.download{
    min-height: 25px;
    min-width: 25px;
    background-repeat: no-repeat;
    background-image: url(./../img/download.svg);
    margin-top: 0px;
    margin-bottom: 0px;
}
.profile{
    min-height: 25px;
    min-width: 25px;
    background-repeat: no-repeat;
    background-image: url(./../img/profile.svg);
    margin: 0 0 0 7px;
}
.voice-navbar-down span{
    vertical-align: text-bottom;
}
#users{
    background-color: var(--color-gray);
    border-radius: 100%;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nuova-playlist{
    overflow-y: scroll;
}
.nuova-playlist a{
    color: var(--color-gray);
    text-decoration: none;
}
.nuova-playlist a:hover {
    color: var(--color-gray-ligth);
}
/**fine navbar */

/**inizio footer */
#footer-site{
    height: 70px;
    width: 100%;
    background-color: var(--bg-footer);
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 10;
    justify-content: space-between;
}
.musica{
    position: relative;
    border-radius: 10px;
    top: 20px;
    height: 1px;
    width: 50%;
    background-color: var(--color-gray);
}
.stato-musica{
    position: absolute;
    top: 3px;
    left: -10px;
    height: 1px;
    width: 20%;
    border-radius: 10px;
    background-color: var(--color-gray-ligth);
}
.footer-sx{
    display: flex;
    justify-content: space-around;
    width: 25%;
    line-height: 70px;
    
}
.footer-sx img{
    width: 45px;
    height: 45px;
    transform: translate(0% , 25%);
}
.voice-column{
    display: flex;
    flex-direction: column;
    line-height: 35px;
    color: var(--color-gray);
    
}
.voice-column h4{
    margin-top: 8px;
    margin-bottom:-14px;
    color: var(--color-gray-ligth);
}
.voice-footer{
    color: var(--color-gray);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.voice-footer *{
    margin: 0 10px;
}
.footer-centrale{
    width: 50%;
    text-align: center;
    line-height: 35px;
    margin-top: 5px;
    color: var(--color-gray-ligth);
}
.footer-centrale *{
    margin: -3px 10px 0px 10px;
    padding-top: 5px;
}
#play{
    border: 2px solid var(--color-gray-ligth);
    border-radius: 100%;
    padding: 6px 8px 6px 10px;
    
}
.voice-row{
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
}
#second-row{
    justify-content: space-be;
}
.footer-dx{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    text-align: center;
    line-height: 70px;
    color: var(--color-gray);
}
/**fine footer */

/**inizio main */

.center-voice{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.center-voice a{
   margin: 0 40px;
   text-transform:uppercase;
   color: var(--color-gray);
   text-decoration: none;
}
.in-evidence{
    position: relative;
    margin-bottom: 20px;
}

.in-evidence-left{
    position: relative;
    margin: auto 0;
}
#creato-per{
    margin-bottom: 10px;
}
.radius img{
    border-radius: 100%;
}
.radius .hover-img{
    border-radius: 100%;
}
.evidence-left{
    position: absolute;
    height: 40px;
    margin-left: -5px;
    width: 2px;
    border-radius: 10px;
    background-color: var(--color-evidenced);
}
.evidence{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50% , 0);
    margin: 0 0 20px 0;
    height: 2px;
    width: 30%;
    border-radius: 10%;
    background-color: var(--color-evidenced);
}
.center-voice a{
    margin-bottom: 20px;
}

.center{
    position: absolute;
    top:70px;
    right: 0;
    width: calc(100% - 150px);
    background-color: var(--bg-body);
    height: calc(100vh - 140px);
    overflow: auto;
    overflow-x: hidden;
}
.center-row{
    margin-top: 3%;
    margin-bottom: 3%;
}
.contain{
    max-width: 1200px;
    margin: 0 0 0 20px;
}
.contain p{
    margin-bottom: 20px;
}
.container{
    margin-left: 0%;
}
.between-card{
    margin-right: 200%;
}
.recently-played{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.recently-played a{
    text-decoration: none;
    
}
.center h3{
    color: var(--color-gray-ligth);
    font-size: 32px;
}
.recently{
    margin-bottom: var(--gap-down);

}
.center-row>p{
    margin-bottom: var(--gap-down);
}

.card{
    min-width: 180px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.card img{
    position: relative;
    width: 180px;
    z-index: 1;
    display: block;
}
.hover-card{
    position: relative;
    width: 100%;
}
.card:hover .hover-img{
	display: block;
}
.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.507);
    border-bottom: none;
    display: none;
}
.hover-img i{
    position: absolute; 
    top:50%; 
    left: 50%;
    transform: translate(-50% , -50%); 
    color: var(--color-gray-ligth); 
    border: 1px solid var(--color-gray-ligth); 
    border-radius: 100%; 
    padding: 15px 15px 15px 23px;
}
.card h4{
    color: var(--color-gray-ligth);
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
.card p{
    color: var(--color-gray);
    text-align: center;
}

.center-row p{
    color: var(--color-gray);
}
.music{
position: relative;
top: 20px;
width: 70%;
border-radius: 15%;
height: 2px;
background-color: var(--color-gray);
}
.music-percent{
    position: absolute;
    left: -3%;
    top: 0.8px;
    width: 30%;
    height: 7px;
    border-radius: 25%;
    background-color: var(--color-gray-ligth);
}
.volume{
    position: relative;
    width: 70%;
    border-radius: 15%;
    height: 2px;
    background-color: var(--color-gray);
    position: relative;
    width: 70px;
    border-radius: 10px;
    height: 2px;
    background-color: var(--color-gray);
    }
    .stato-volume{
        position: absolute;
        left: -3%;
        top: 0px;
        width: 45%;
        height: 3px;
        border-radius: 25%;
        background-color: var(--color-gray-ligth);
    }

    /**alternative part */
    .footer{
        width: 98%;
        height: 70px;
        background-color: var(--bg-footer);
        position: fixed;
        bottom: 5px;
        left: 50%;
        transform: translate(-50% , 0);
        z-index: 1000;
        border-radius: 15px;
        visibility: hidden;
    }
    .footer img{
        height: 45px;
        width: 45px;
        border-radius: 3px;
        z-index: 1;
    }
    .artist{
        color: var(--color-gray-ligth);
        
    }
    .song{
        color: var(--color-gray);
    }
    .alternative-footer{
        display: flex;
        justify-content: space-between;
        height: 100%;
        border-radius: 15px;
        z-index: 1;
    }
    .alternative-footer-left{
        display: flex;
        align-items: center;
        column-gap: 30px;
        margin-left: 10px;
        height: 100%;
        z-index: 1;
    }
    .column-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }
    .alternative-footer-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 30px;
        margin-right: 30px;
        z-index: 1;
    }
    .alternative-footer-right i{
        color: var(--color-gray-ligth);
    }
    .musica-alt{
        height: 1px;
        width: 94%;
        background-color: var(--color-gray);
        position: relative;
        top: -3px;
        left: 3%;
        border-radius: 10px;   
        z-index: 1;         
    }
    .stato-musica-alt {
        height: 2px;
        width: 20%;
        border-radius: 10px;
        background-color: var(--color-gray-ligth);
        position: absolute;
        top: -0.8px;
        left: 0px;
        z-index: 1;
    }
    .bg-alternative{
        position: absolute;
        height: 200px;
        left: -10px;
        width: 120%;
        border-radius: 40px;
        background-color: #1418248f;
    }


     /**alternative part */





    /**larghezza md 768px */

    @media screen and (max-width: 992px){
        .recently-played .card{
                width: calc((100% / 6) - 20px);
                margin-right: 20px;
                display: flex;
                flex-direction: column;
        }
    }
    /**larghezza s 790px */
    @media screen and (max-width: 790px){
        .recently-played .card{
                width: calc((100% / 6) - 20px);
                margin-right: 20px;
                display: flex;
                flex-direction: column;
        }
    }
    /**larghezza xs 576px */
    @media screen and (max-width: 576px){
        .hide{
            display: none;
        }
        .logo-small{
            height: 30px;
            width: 30px;
            margin-left: 12px;
            background-image: url(./../img/logo-small.svg);
            display: block;
        }
        .navbar{
            width: 50px;
        }
        .download{
            margin-left: 5px;
        }
        .center{
        width: calc(100% - 50px);
        height: calc(100vh - 70px);
        padding-bottom: 70px;
        }
        #footer-site{
            display: none;
        }
        .footer{
            visibility: visible;
        }
        .navbar{
            height: 100%;
            padding-bottom: 75px;
        }
        
        
    }
    /**larghezza xxs 375px */
    @media screen and (max-width: 375px){
        .recently-played{
            flex-wrap: wrap;
        }
        .recently-played .card{
            width: calc((100% / 1) - 20px);
            margin-right: 20px;
            display: flex;
            flex-direction: column;
        }
    }
    
/**altezza massimo 550px */
@media screen and (max-height: 550px){
    .header{
        display: none;
    }
    .center{
        top: 0;
        height: 100vh;
        padding-bottom: 70px;
    }
}

/**animazioni */
.animated-cta {
    -webkit-animation-duration: 10s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes bounce {
    0%, 10%, 30%, 40%, 60%, 70%, 90%, 100% {
      -webkit-transform: translateY(0);
    }
    20%, 50%, 80% {
      -webkit-transform: translateY(-5px);
    }
  }
  @keyframes bounce {
    0%, 10%, 30%, 40%, 60%, 70%, 90%, 100% {
      transform: translateY(0);
    }
    20%, 50%, 80% {
      transform: translateY(-5px);
    }
  }
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }
  
