*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-header:#0D0F16;
    --bg-body: #141824;
    --bg-nav-bar:#010001;
    --bg-footer:#282729;
    --color-gray:#99989A;
    --color-gray-ligth:#F4F0F7;
    --color-evidenced:#B8EC2F;
    --gap-down:36px
}
/**inizo header */
.header{
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: var(--bg-header);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.cta-upgrade{
    color: var(--color-gray);
    border: 1px solid var(--color-gray);
    padding: 10px 35px;
    margin-right: 25px;
    border-radius: 25px;
    text-transform:uppercase;
}
.cta-upgrade a{
    text-decoration: none;
    color: var(--color-gray);
}
.cta-upgrade:hover{
    color: var(--color-gray-ligth);
    border: 1px solid var(--color-gray-ligth);
}
/**fine header */



/**inizo navbar */
.navbar{
    width: 12%;
    position: fixed;
    background-color: var(--bg-nav-bar);
    height: calc(100% - 70px);
    z-index: 1;
    color: var(--color-gray);
}
.navbar *{
    margin: 20px 8%;
}
.navbar img{
    width: 150px;
    height: auto;
    margin: 0px 8%;
}
.navbar i{
    background-color: var(--color-gray);
    color: var(--bg-nav-bar);
}
.icon{
   line-height: 50px;
   margin: 0 20px 0 0;

}
.icon:hover{
    color: var(--color-gray-ligth);
}
.icon span{
    vertical-align: super;
    margin: 20px 0;
}
.voice-navbar:hover{
    border-left: 3px solid var(--color-evidenced);
    padding-left: 20px;
}
.voice-navbar{
    display: flex;
    margin: 0 20px 0 20px;
}
.voice-navbar img{
    margin: 10px 17px 10px 0px;
    width: 25px;
    height: auto;
}
.voice-navbar h3{
    margin: 20px 0;
}
#icon-plus{
    margin: auto 20px auto 0;    
    padding: 0 4px;
}
.navbar-up{
    overflow-y: scroll;
}
.navbar-up p{
    margin: 10px 0 10px 0 ;
}
.navbar-up a{
    color: var(--color-gray);
    text-decoration: none;
}
.navbar-up a:hover{
    color: var(--color-gray-ligth);
}
.voice-light{
    color: var(--color-gray-ligth);
}
.navbar h4{
    color: var(--color-gray-ligth);
}
.navbar-down img{
    width: 25px;
    height: auto;
    margin-left: 0px;
}
.voice-navbar-down{
    line-height: 30px;
    margin-bottom: 0px;
}
.voice-navbar-down span{
    vertical-align: text-bottom;
}
#user{
    background-color: var(--color-gray);
    border-radius: 100%;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/**fine navbar */

/**inizio footer */
#footer-site{
    height: 70px;
    width: 100%;
    background-color: var(--bg-footer);
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 10;
    justify-content: space-between;
}
.footer-sx{
    display: flex;
    justify-content: space-around;
    width: 12%;
    line-height: 70px;
    
}
.footer-sx img{
    width: 45px;
    height: 45px;
    transform: translate(0% , 25%);
}
.voice-column{
    display: flex;
    flex-direction: column;
    line-height: 35px;
    color: var(--color-gray);
    margin: 0 40px 0 20px;
}
.voice-column h4{
    margin-top: 8px;
    margin-bottom:-14px;
    color: var(--color-gray-ligth);
}
.voice-footer{
    color: var(--color-gray);
}
.voice-footer *{
    margin: 0 10px;
}
.footer-centrale{
    width: 76%;
    text-align: center;
    line-height: 35px;
    margin-top: 5px;
    color: var(--color-gray-ligth);
}
.footer-centrale *{
    margin: -3px 30px 0px 30px;
    padding-top: 5px;
}
#play{
    border: 2px solid var(--color-gray-ligth);
    border-radius: 100%;
    padding: 6px 8px 6px 10px;
    
}
.voice-row{
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
}
#second-row{
    justify-content: space-around;
}
.footer-dx{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12%;
    text-align: center;
    line-height: 70px;
    color: var(--color-gray);
}
/**fine footer */

/**inizio main */

.center-voice{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.center-voice a{
   margin: 0 40px;
   text-transform:uppercase;
   color: var(--color-gray);
   text-decoration: none;
}
.center a:hover{
    color: var(--color-gray-ligth);
    border-bottom: 3px solid var(--color-evidenced);
}
.center{
    position: absolute;
    top:70px;
    right: 0;
    width: 88%;
    background-color: var(--bg-body);
    height: calc(100vh - 140px);
    overflow: auto;
}
.center-row{
    margin-top: 3%;
    margin-bottom: 3%;
}
.contain{
    width: 80%;
    margin: 0 auto;
}

.recently-played{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recently-played a{
    text-decoration: none;
    
}
.center h3{
    color: var(--color-gray-ligth);
    font-size: 32px;
}
#recently{
    margin-bottom: var(--gap-down);

}
.center-row>p{
    margin-bottom: var(--gap-down);
}

.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    position: relative;
    width: 100%;
    z-index: 1;
}

.card:hover .over-img{
	display: block;
}
.over-img{
    position: absolute;
    width: 250px;
    height: 250px;
    opacity: 1;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.507);
    border-bottom: none;
    display: none;
}
.card h4{
    color: var(--color-gray-ligth);
    margin-bottom: 5px;
    margin-top: 5px;
}
.card p{
    color: var(--color-gray);
}
.created-for-john{
    display: flex;
}
.created-for-john a{
    margin: 0 3.5% 0 0;
}
.center-row p{
    color: var(--color-gray);
}
.music{
position: relative;
top: 20px;
width: 70%;
border-radius: 15%;
height: 2px;
background-color: var(--color-gray);
}
.music-percent{
    position: absolute;
    left: -3%;
    top: 0.8px;
    width: 30%;
    height: 7px;
    border-radius: 25%;
    background-color: var(--color-gray-ligth);
}
.volume{
    position: relative;
    width: 70px;
    border-radius: 15%;
    height: 2px;
    background-color: var(--color-gray);
    }
    .stato-volume{
        position: absolute;
        left: -3%;
        top: 0px;
        width: 45%;
        height: 3px;
        border-radius: 25%;
        background-color: var(--color-gray-ligth);
    }

    /**responsive parte */
    
    @media screen  and (max-width: 2165px){
        .voice-footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

   @media screen  and (max-width: 1930px){
        .recently-played{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .recently-played a{
            text-decoration: none;
            margin: 10px 3.5%;
        }
        #recently{
            margin-bottom: var(--gap-down);
            margin-left: 3.5%;
        }
        .footer-centrale{
            width: 50%;
            text-align: center;
            line-height: 35px;
            margin-top: 5px;
            color: var(--color-gray-ligth);
        }
        
    }
    @media screen and (max-width: 1350px){
        
    }

    @media screen and (max-width: 1350px){
        .recently-played{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        #recently{
            margin-bottom: var(--gap-down);
            text-align: center;
            margin-left: 0;
        }
        .center-row h3{
            text-align: center;
        }
        .center-row p{
            color: var(--color-gray);
            text-align: center;
        }
        .created-for-john{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        
    }
    @media screen and (max-width: 1200px) {
        .center-voice a{
        margin: 20px 40px;
        text-transform:uppercase;
        color: var(--color-gray);
        text-decoration: none;
     }
    }