*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-header:#0D0F16;
    --bg-body: #141824;
    --bg-nav-bar:#010001;
    --bg-footer:#282729;
    --color-gray:#99989A;
    --color-gray-ligth:#F4F0F7;
    --color-evidenced:#B8EC2F;
}
/**inizo header */
.header{
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: var(--bg-header);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.cta-upgrade{
    color: white;
    border: 1px solid white;
    padding: 10px 35px;
    margin-right: 25px;
    border-radius: 25px;
    text-transform:uppercase;
}
/**fine header */



/**inizo navbar */
.navbar{
    width: 12%;
    position: fixed;
    background-color: var(--bg-nav-bar);
    height: 95vh;
    z-index: 1;
    color: var(--color-gray);
}
.navbar *{
    margin: 20px 8%;
}
.navbar img{
    width: 150px;
    height: auto;
    margin: 0px 8%;
}
.navbar i{
    background-color: var(--color-gray);
    color: var(--bg-nav-bar);
}
.icon{
   line-height: 50px;
   margin: 0 20px 0 20px;
}
.icon span{
    vertical-align: super;
    margin: 20px 0;
}
.voice-navbar{
    display: flex;
    margin: 0 20px 0 20px;
}
.voice-navbar img{
    margin: 10px 17px 10px 0px;
    width: 25px;
    height: auto;
}
.voice-navbar h3{
    margin: 20px 0;
}
#icon-plus{
    margin: auto 20px auto 0;    
    padding: 0 4px;

}
.voice-light{
    color: var(--color-gray-ligth);
}
.navbar h4{
    color: var(--color-gray-ligth);
}
.navbar-down img{
    width: 25px;
    height: auto;
    margin-left: 0px;
}
.voice-navbar-down{
    line-height: 30px;
    margin-bottom: 0px;
}
.voice-navbar-down span{
    vertical-align: text-bottom;
}
#user{
    background-color: var(--color-gray);
    border-radius: 100%;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/**fine navbar */

/**inizio footer */
#footer-site{
    height: 70px;
    width: 100%;
    background-color: var(--bg-footer);
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 10;
    justify-content: space-between;
}
.footer-sx{
    display: flex;
    justify-content: flex-start;
    width: 12%;
    line-height: 70px;
    
}
.footer-sx img{
    width: 45px;
    height: 45px;
    transform: translate(-25% , 25%);
    margin: 0 20px;
}
.voice-column{
    display: flex;
    flex-direction: column;
    line-height: 35px;
    color: var(--color-gray);
    margin: 0 40px 0 20px;
}
.voice-column h4{
    margin-top: 8px;
    margin-bottom:-14px;
    color: var(--color-gray-ligth);
}
.voice-footer{
    color: var(--color-gray);
}
.footer-centrale{
    width: 76%;
    text-align: center;
    line-height: 35px;
    margin-top: 5px;
    color: var(--color-gray-ligth);
}
.footer-centrale *{
    margin: -3px 30px 0px 30px;
    padding-top: 5px;
}
#play{
    border: 2px solid var(--color-gray-ligth);
    border-radius: 100%;
    padding: 6px 8px 6px 10px;
    
}
.voice-row{
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
}
#second-row{
    justify-content: space-around;
}
.footer-dx{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12%;
    text-align: center;
    line-height: 70px;
    color: var(--color-gray);
}
/**fine footer */

/**inizio main */

.center-voice{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.center-voice a{
   margin: 0 10px;
   text-transform:uppercase;
   color: var(--color-gray);
   text-decoration: none;
}
.center a:hover{
    color: var(--color-gray-ligth);
    border-bottom: 3px solid var(--color-evidenced);
}
.center{
    position: absolute;
    top:70px;
    right: 0;
    width: 88%;
    background-color: var(--bg-body);
    height: calc(100vh - 140px);
    overflow: auto;
}
.center-row{
    margin-top: 3%;
    margin-bottom: 3%;
}

.recently-played{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.center h3{
    color: var(--color-gray-ligth);
    margin-left: 10%;
    margin-bottom: 20px;
}
.center-row>p{
    margin-bottom: 2%;
    margin-left: 10%;
}
.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    position: relative;
    width: 100%;
    z-index: 1;
}

.card img:hover .over-img{
	opacity: 1;
	box-shadow: 0 0 0 5px rgba(255,255,255,0.3) inset;
}
.over-img{
    position: absolute;
    width: 250px;
    height: 250px;
    opacity: 0;
    z-index: 500;
}
.card h4{
    color: var(--color-gray-ligth);
    margin-bottom: 5px;
    margin-top: 5px;
}
.card p{
    color: var(--color-gray);
}
.created-for-john{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.created-for-john .card{
    margin: 0 3.5% 0 0;
}
.center-row p{
    color: var(--color-gray);
}
.music{
position: relative;
top: 20px;
width: 70%;
border-radius: 15%;
height: 2px;
background-color: var(--color-gray);
}
.music-percent{
    position: absolute;
    left: -3%;
    top: 0.8px;
    width: 30%;
    height: 7px;
    border-radius: 25%;
    background-color: var(--color-gray-ligth);
}
.volume{
    position: relative;
    width: 70px;
    border-radius: 15%;
    height: 2px;
    background-color: var(--color-gray);
    }
    .stato-volume{
        position: absolute;
        left: -3%;
        top: 0px;
        width: 45%;
        height: 3px;
        border-radius: 25%;
        background-color: var(--color-gray-ligth);
    }